<div class="container">
  <h1>All the restaurants</h1>

  <div id="restaurants-list">
    <ul>
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          <li><%= restaurant.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

